---
import { CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Hero from "../../components/Hero.astro";
import Header from "../../components/header/Header.astro";

export async function getStaticPaths() {
	const aboutPages = await getCollection("about");
	return aboutPages.map((page) => ({
		params: { slug: page.slug },
		props: page,
	}));
}
type Props = CollectionEntry<"about">;

const aboutPage = Astro.props;
const { Content } = await aboutPage.render();
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		{aboutPage.data.heroImage !== undefined && <Hero imageUrl={aboutPage.data.heroImage} imageAlt={aboutPage.data.heroImageDescription ?? "Strawberry Fair hero image"} />}
		<h1 class="title">{aboutPage.data.title}</h1>
		<main class="content">
			<Content />
		</main>
	</body>
</html>
